/* ----- Reset ----- */
* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: smooth;
}

body {
  background-color: var(--bg-color-1);
  color: var(--accent-color-1);
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#button-teste {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--bg-color-4);
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding: 1.125rem;
}

#button-teste svg {
  fill: var(--bg-color-1);
  width: 100%;
  height: 100%;
}

#button-tema {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--bg-color-4);
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding: 1rem;
}

#button-tema svg {
  fill: var(--bg-color-1);
  width: 100%;
  height: 100%;
}

button:hover svg {
  transform: scale(1.1);
  transition: 0.3s;
}
