:root {
  /*  */
  --padding-div-cards-navigator: 1.5rem;
  /*  */
  --gap-button-cards-navigator: 0.5rem;
  --size-button-cards-navigator: 3rem;
  --size-svg-button-cards-navigator: 1.25rem;
  --padding-button-cards-navigator: 0.5rem;
  /*  */
  --margin-div-card-pergunta: 2rem;
  --padding-div-card-pergunta: 2rem;
  --border-radius-div-card-pergunta: 2rem;
  /*  */
  --gap-ul-temas: 1rem;
}

/* ----- Cards de Perguntas ----- */
#div-cards-perguntas {
  width: 100dvw;
  height: 100dvh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* --- Botões de Navegação --- */
#div-cards-navigator {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-div-cards-navigator);
  width: 100dvw;
}

#div-cards-navigator button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--size-button-cards-navigator);
  background-color: transparent;
  border-radius: 50vh;
  border: none;
  color: var(--accent-color-1);
  display: flex;
  padding: var(--padding-button-cards-navigator);
  gap: var(--gap-button-cards-navigator);
}

#div-cards-navigator button svg {
  height: var(--size-svg-button-cards-navigator);
  width: auto;
  aspect-ratio: 1/1;
}

/* - Texto de Apoio dos Botões de Navegação - */
#button-previous-card::after,
#button-next-card::before {
  width: auto;
  height: var(--size-svg-button-cards-navigator);
  font-size: 1rem;
}

#button-previous-card:hover::after {
  content: "Pergunta Anterior";
}

#button-next-card:hover::before {
  content: "Próxima Pergunta";
}

/* ----- Caixas dos Cards ----- */
.div-card-box {
  scroll-snap-align: center;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----- Card de Pergunta ----- */
.div-card-pergunta {
  max-width: 1000px;
  max-height: 800px;
  margin: var(--margin-div-card-pergunta);
  padding: var(--padding-div-card-pergunta);
  border-radius: var(--border-radius-div-card-pergunta);
  border: 2px solid var(--accent-color-1);
}

/* --- Lista de Temas --- */
.ul-temas {
  display: inline-flex;
  flex-direction: row;
  gap: var(--gap-ul-temas);
}

/* - Tema - */
.li-tema {
  width: fit-content;
}

.li-tema:hover {
  color: var(--bg-color-5);
}

/* - Conteúdo da Pergunta - */
.p-conteudo-pergunta {
  font-size: 2rem;
}

/* - Alternativa - */
.li-alternativa {
  color: var(--accent-color-1);
}

/* - Alternativa Selecionada - */
.alternativa-selecionada {
  color: var(--accent-color-2);
}

/* - Botão da Alternativa - */
.button-alternativa {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 1.25rem;
}

.button-alternativa:hover {
  color: var(--accent-color-2);
  transform: scale(1.1);
}

/* Esconde a Barra de Scroll */
#div-cards-perguntas,
.ul-temas {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#div-cards-perguntas::-webkit-scrollbar,
.ul-temas::-webkit-scrollbar {
  display: none;
}

/* ----- Card de Envio ----- */
.div-card-envio {
  max-width: 1000px;
  max-height: 800px;
  margin: var(--margin-div-card-pergunta);
  padding: var(--padding-div-card-pergunta);
  border-radius: var(--border-radius-div-card-pergunta);
  border: 2px solid var(--accent-color-1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--accent-color-1);
}

.div-card-envio p {
  font-size: 2rem;
  color: inherit;
}

.div-card-envio div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  color: inherit;
}

.div-card-envio div button {
  color: inherit;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.div-card-envio div .button-sim {
  background-color: rgb(0, 150, 0);
}

.div-card-envio div .button-nao {
  background-color: rgb(150, 0, 0);
}

.div-card-envio div button:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
  transition: 0.3s;
}
