<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excluir - Quiz DS e Infor</title>

    <!-- ----- CSS ----- -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/colors.css" />
    <link rel="stylesheet" href="/static/css/components.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <!-- --- CSS Específico --- -->
    <link rel="stylesheet" href="/static/css/pages/index.css" />
  </head>

  <!-- Armazena as variáveis do Jinja2 -->
  <script>
    const temas = {{ temas | tojson }};
    const niveis = {{ niveis | tojson }};
    const explicacoes = {{ explicacoes | tojson }};
    const perguntas = {{ perguntas | tojson }};
    const perguntasTemas = {{ perguntas_temas | tojson }};
    const nomesTemas = {{ nomes_temas | tojson }};
  </script>

  <!-- ----- Scripts ----- -->
  <script src="/static/js/helpers.js"></script>
  <script src="/static/js/db.js"></script>
  <script src="/static/js/components.js"></script>
  <script src="/static/js/themeManager.js" defer></script>
  <script src="/static/js/pages/crudPages.js" defer></script>
  <script src="/static/js/pages/excluir.js" defer></script>

  <body>
    <header>
      <!-- Componente -->
      <div id="div-top-bar">
        <h1>Excluir Questão</h1>
      </div>
    </header>

    <main>
      <section id="section-escolher-modo">
        <h2>Selecione o que deseja excluir</h2>

        <select name="Select do Modo" id="select-modo">
          <option value="pergunta">Pergunta</option>
          <option value="tema">Tema</option>
          <option value="nivel_dificuldade">Nível de Dificuldade</option>
          <!-- <option value="explicacao_resposta">Explicação da Resposta</option> -->
        </select>
      </section>

      <section id="section-pergunta" class="escondido">
        <h2>Pergunta</h2>

        <form action="POST">
          <h3>Selecione a pergunta pelo enunciado:</h3>
          <select name="id_pergunta" id="select-questao-enunciado">
            {% for pergunta in perguntas %}
            <option value="{{ pergunta.id }}">
              {{ pergunta.conteudo['pergunta'] }}
            </option>
            {% endfor %}
          </select>

          <label for="ul-alternativas">Alternativas:</label>
          <ul id="ul-alternativas"></ul>

          <label for="p-alternativa-correta">Alternativa correta:</label>
          <p id="p-alternativa-correta"></p>

          <label for="textarea-explicacao">Explicação da Resposta:</label>
          <textarea
            id="textarea-explicacao"
            style="resize: vertical"
            readonly
          ></textarea>

          <label for="ul-temas">Tema(s):</label>
          <ul id="ul-temas"></ul>

          <label for="input-nivel-dificuldade">Nível de Dificuldade:</label>
          <input
            id="input-nivel-dificuldade"
            readonly
          ></input>

          <input type="submit" value="Excluir Disciplina" />
        </form>
      </section>

      <section id="section-tema" class="escondido">
        <h2>Tema</h2>

        <form action="POST">
          <h3>Selecione o tema:</h3>
          <select name="id_tema" id="select-questao-enunciado">
            {% for tema in temas %}
            <option value="{{ tema.id }}">
              {{ tema.nome }}
            </option>
            {% endfor %}
          </select>

          <input type="submit" value="Excluir Tema" />
        </form>
      </section>

      <section id="section-nivel-dificuldade" class="escondido">
        <h2>Nível de Dificuldade</h2>

        <form action="POST">
          <h3>Selecione o nível de dificuldade:</h3>
          <select name="id_nivel" id="select-id-dificuldade">
            {% for nivel in niveis %}
            <option value="{{ nivel.id }}">
              {{ nivel.nome }} (Dificuldade: {{ nivel.nivel_dificuldade }})
            </option>
            {% endfor %}

          <input type="submit" value="Excluir Nível de Dificuldade" />
        </form>
      </section>

      <!--
      <section id="section-explicacao-resposta" class="escondido">
        <h2>Explicação da Resposta</h2>

        <form action="POST">
          <select name="id_explicacao" id="select-id-explicacao">
            {% for explicacao in explicacoes %}
            <option value="{{ explicacao.id }}">
              {{ explicacao.conteudo['titulo'] }} | {{
              explicacao.conteudo['texto'] }}
            </option>
            {% endfor %}
          </select>

          <input type="submit" value="Excluir Explicação para Resposta" />
        </form>
      </section>
      -->
    </main>

    <!-- --- Botão de Tema --- -->
    <button id="button-tema" aria-label="Mudar tema"></button>
  </body>
</html>
