<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz DS e Infor</title>

    <!-- ----- CSS ----- -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/colors.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <!-- --- CSS Específico --- -->
    <link rel="stylesheet" href="/static/css/pages/quiz.css" />
  </head>

  <!-- ----- Scripts ----- -->
  <script src="/static/js/helpers.js"></script>
  <script src="/static/js/db.js"></script>
  <script src="/static/js/themeManager.js" defer></script>
  <!-- --- Script Específico --- -->
  <script src="/static/js/pages/quiz.js" defer></script>

  <body>
    <div id="div-cards-perguntas">
      <!-- ----- Botões de Navegação das Perguntas ----- -->
      <div id="div-cards-navigator">
        <button id="button-previous-card">
          <img
            src="/static/assets/icons/chevron-left.svg"
            alt=""
            onload="buscarSvg(this)"
          />
        </button>
        <button id="button-next-card">
          <img
            src="/static/assets/icons/chevron-right.svg"
            alt=""
            onload="buscarSvg(this)"
          />
        </button>
      </div>
      <!-- ----- Cards das Perguntas ----- -->
      {% for pergunta in perguntas %}
      <div class="div-card-box">
        <div class="div-card-pergunta" id_pergunta="{{ pergunta.id }}">
          <ul class="ul-temas">
            {% for nome_tema in nomes_temas[pergunta.id] %}
            <li class="li-tema">{{ nome_tema }}</li>
            {% endfor %}
          </ul>
          <p class="p-conteudo-pergunta">{{ pergunta.conteudo.pergunta }}</p>
          <ul class="ul-alternativas">
            {% for i in range(pergunta.alternativas | length) %}
            <li class="li-alternativa" id_alternativa="{{ i + 1 }}">
              <button
                class="button-alternativa"
                onclick="escolherAlternativa({{ pergunta.id }}, {{ i + 1 }})"
              >
                {{ indicadores_alternativas[i] }}) {{ pergunta.alternativas[i]
                }}
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
      <!-- ----- Card de Envio ----- -->
      <div class="div-card-box">
        <div class="div-card-envio">
          <p>Deseja enviar?</p>
          <div>
            <button onclick="enviarRespostas()" class="button-sim">Sim</button>
            <button onclick="voltarParaPrimeiraPergunta()" class="button-nao">
              Não
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- --- Botão de Tema --- -->
    <button id="button-tema" aria-label="Mudar tema"></button>
  </body>
</html>
